In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-white')

In [26]:
data = pd.read_csv("ex1data2.txt", names=["x1","x2","y"])

In [27]:
data.head()

     x1  x2       y
0  2104   3  399900
1  1600   3  329900
2  2400   3  369000
3  1416   2  232000
4  3000   4  539900

In [28]:
m = len(data)
X = np.hstack((np.ones((m,1)), data.iloc[:,0:2])) # 47x3
y = np.array(data['y']).reshape(m,1) # 47x1

In [29]:
theta = np.dot(np.linalg.inv(np.dot(X.T,X)), np.dot(X.T, y))

print(theta)

[[89597.9095428 ]
 [  139.21067402]
 [-8738.01911233]]

In [33]:
# estimated price for x1 = 1650(sq. feet), x2 = 3(br. house)

# normalizing features
x1, x2 = 1650, 3

price = theta[0] + theta[1]*x1 + theta[2]*x2
print(price)

[293081.46433489]